<!--RoboCup 2017 Object Detect-->
<launch>

	<!-- Ribbon-Bridge-Measurement -->
	<node pkg="Ribbon-Bridge-Measurement" type="ribbon_bridge_lsd_node" name="ribbon_bridge_lsd_node" output="screen">
		<rosparam command="load" file="$(find Ribbon-Bridge-Measurement)/config/paramater.yaml"/>
	</node>

</launch>
